body{
    margin: 0;
    background-color: whitesmoke;

}
#formInput{
    width: 450px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

legend{
    text-align: center;
    font-weight: 600;
    font-size: 20px;
}


fieldset{
text-align: center;
border-radius: 20px;
}

header{
    background-color: #694E4E;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

header h1{
    margin-left: 30px;
}

a{
    padding: 50px;
    text-decoration: none;
    font-size: 20px;
    color: rgb(255, 255, 255);
    font-weight: 800;
}

a:hover{
    color: black;
}

img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
#renderDiv{
    margin-top: 50px;
    width: 1550px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    gap: 20px;
}

#renderDiv div{
    width: 300px;
    text-align: center;
    box-shadow:grey 5px 5px;
    border-radius: 10px;
    background-color: white;
    -webkit-transition: all 1s ease-out;
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    -ms-transition: all 1s ease-out;
    transition: all 1s ease-out;
}

#renderDiv div:hover{
    background-color: #886F6F;
    box-shadow:rgb(39, 38, 38) 5px 5px;
    transition: 1s ease-in-out;

}
footer{
    background-color: #694E4E;
    text-align: center;
    line-height: 4;
    height: 80px;
    font-size: 20px;
    font-weight: 700;
}

table{
    height: 500px;
    width: 700px;
    font-size: 20px;
    margin-top: 70px;
}

th{
    background-color: #C1A3A3;
}

table ,td, th{
    border: black 1px solid;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    line-height: 2;
    text-align: center;
}

#accFoot{
position:absolute;
bottom: 0;
width: 100%;
height: 80px;
line-height: 1.6;
}

#deleteBtn{
    margin-bottom: 10px;
    margin-left: 180px;
    border-radius: 5px;
    background-color: #C1A3A3;
}

#deleteBtn:hover{
    font-weight: 700;
}